table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

.red {
    background-color: #aa0000;
    color: white
}

.yellow {
    background-color: yellow;
    color: blue;
}

.green {
    background-color: green;
    color: white;
}

.smallbox {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
}