@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .defaultNavLink {
    @apply border border-gray-600 hover:bg-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full w-fit text-base px-5 py-2.5 me-2 mb-2;
  }

  .activeNavLink {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full w-fit text-base px-5 py-2.5 me-2 mb-2;
  }
}
